<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!-- Change the port to your desired port, change the port inside setup.ps1, run the script and run your program.-->
		<add key="port" value="1234"/>
		<!--Set to false to turn off your password.-->
		<add key="passwordEnabled" value="true"/>
		<!--change your password here.-->
		<add key="password" value="1234"/>
	</appSettings>
</configuration>