<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!-- Change the port to your desired port, change the port inside setup.ps1, run the script and run your program.-->
		<add key="port" value="1234" />
		<!--change your password here.-->
		<add key="password" value="1234" />

        <!--editable from right click context menu.-->
		<add key="checkNewRelease" value="true" />
		<add key="passwordEnabled" value="true" />


		<!-- please don't touch anything below this. (please)-->
		<add key="currentVersion" value="1.1.0" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MimeTypesMap" publicKeyToken="1b320cc08ad5aa89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8.0" newVersion="1.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>